{% extends '_base.html'%}

{% block title %}fyyur/Show{% endblock %}

{% block content %}
    
<div class="row shows">
    {%for show in shows %}
    <!-- <h4>{{ show.start_time }}</h4>
    <p>{{show.venue_name}}</p> -->

    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ show.artist.img_link }}" alt="Artist Image" />
            <h3> created by : {{show.admin}}</h3>
            <h4>{{ show.start_time }}</h4>
            <h5><a href="{% url 'artist_detail' show.artist_id %}">{{ show.artist.name }}</a></h5>
            <p>playing at</p>
            <h5><a href="{% url 'venue_detail' show.venue_id %}">{{ show.venue.name }}</a></h5>
        </div>
</div>
    
    {% endfor %}
</div>
{% endblock content %}

